
/* ----------//
// BASE.HTML //
//---------- */
body {
    min-width: 320px;
}

a {
    text-decoration: underline;
    color: #000000;
}

.cocktail-header {
    margin-top: 0;
    text-align: center;
}

.cocktail-title {
    display: inline-block;
    text-align: left;
}

.cocktail-title a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.cocktail-title h1,h2,h3 {
    font-family: 'Oswald';
    font-weight: 700;
}

.cocktail-title div {
    display: inline-block;
    margin: 0px 6px;
}

.cocktail-title h3 {
    font-size: 12pt;
    opacity: 0.1;
    margin: 0 0 0 75px;
}

.cocktail-title h2 {
    font-size: 28pt;
    opacity: 0.6;
    margin: 0 0 0 75px;
}

.cocktail-title h1 {
    font-size: 48pt;
}

.cocktail-title span {
    font-family: 'Glyphicons Halflings';
    font-size: 24pt;
    margin: 0 4px;
}

.cocktail-subtitle h3 {
    margin: 4px 0 12px 0;
}

.cocktail-header hr {
    margin: 0;
}


/* ------------//
// Ingredients //
//------------ */

.ingredient-title {
    text-align: center;
    padding: 0
}

.ingredient-title h1 {
    font-size: 30pt;
    font-family: 'Oswald';
    font-weight: 700;
    display: inline-block;
    margin: 0 0 18px 0;
}

.ingredient-title a {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 18px;
}

.ingredient-title hr {
    margin-top: 0;
}

.ingredient-image {
    padding-top: 10px;
}

.row {
    padding: 10px 10px;
}

.card {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
}

.card h2 {
    font-size: 16pt;
    margin: 0;
    margin-bottom: 16px;
}

.ingredient-form form textarea, .ingredient-form form input {
    width:100%;
}

.save {
    float: right;
}

.add-another {
    margin: 4px;
}

.links {
    font-size: 18pt;
}

.links a {
    display: inline-block;
    margin-right: 20px;
}

/*
Home page
*/
.home-text p {
    text-align: justify;
}

.search-container {
    position: relative;
}

.search-container span {
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
    color: #555;
    z-index: 1;
}

.search-container input {
    width: 100%;
    height: 30px;
    padding-left: 30px;
    white-space: nowrap;
}

.advanced-search {
    display: block;
    margin: 8px 0 0 2px;
    cursor: pointer;
    text-decoration: underline;
}

.search-panel {
    display: none;
}

/*
Things we're actually using in the Ingredient Category Browser
*/

.page-title {
    text-align: center;
    margin: 0;
}

.page-title h1 {
    font-size: 30pt;
    font-family: 'Oswald';
    font-weight: 700;
}

.page-title hr {
    margin: 0;
}

.hierarchy-list.class-list {
    padding-left: 0;
}

.hierarchy-list {
    list-style: none;
    padding-bottom: 6px;
    padding-left: 16px;
}

.hierarchy-list li {
    margin-top: 6px;
}

.hierarchy-item {
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

.hierarchy-icon {
    margin: 0 6px;
    font-size: 6pt;
}

.panel-title {
    font-size: 22pt;
}

.nodisp {
    display: none;
}

.details {
    display: none;
}

#detail-description {
    white-space: pre-line;
    text-align: justify;
}

/*
New form class (these should be adopted in all other forms)
*/

.modal-header {
    text-align: center;
}

.modal-header h1 {
    font-size: 30pt;
    font-family: 'Oswald';
    font-weight: 700;

    display: inline-block;
}

.modal-header hr {
    margin-top: 0;
}

.modal-body label {
    margin-top: 8px;
}

.modal-footer {
    margin-top: 12px;
}


.field-control {
    width:100%;
}

.field-errors {
    width: 100%;
    padding: 4px;
    margin: 0 0 8px 0;
}

.modal-footer button {
    display: block;
    float: right;
    margin-left: 20px;
}

.form-response {
    padding: 8px 0 3px 8px;
    clear: left;
    text-align: left;
}


/* Styling for ingredient and recipe search */
.ingredient-result {
    border: solid #ccc 1px;
    border-radius: 3px;

    margin: 5px;
    padding: 8px;
}