{% extends 'cocktails/base.html' %}

{% block basecontent %}
    <div class="cocktail-header">
        <div class="cocktail-title">
            <a href="/">
                <div>
                    <h3>Not Just</h3>
                    <h2>One</h2>
                </div>
                <div>   
                    <h1>Last Word</h1>
                </div>
                <div>   
                    <span class="glyphicon glyphicon-glass" style="opacity: 1"></span>
                    <span class="glyphicon glyphicon-glass" style="opacity: 0.6"></span>
                    <span class="glyphicon glyphicon-glass" style="opacity: 0.1"></span>
                </div>
            </a>
        </div>
        <div class="cocktail-subtitle">
            <h3>A blog for cocktail enthusiasts and addicts</h3>
        </div>
        <hr>
    </div>

    <div class="container content" >
        <div class="col-xs-12 col-centered" >
        {% block content %}
        {% endblock %}
        </div>
    </div>
{% endblock basecontent %}
