{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>One Last Word</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
        <link rel="stylesheet" href="{% static 'css/cocktails.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet" type="text/css">

        
        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>  
        <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
        
        <script type="text/javascript" src="https://use.fontawesome.com/8d39786910.js"></script>
        <script type="text/javascript" src="https://npmcdn.com/tether@1.3.3/dist/js/tether.min.js"></script>
        
        <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 

        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block basecontent %}
            
        {% endblock basecontent %}

        <script type="text/javascript" src="{% static 'js/cocktails.js' %}"></script> 
    </body>
</html>