{% extends 'cocktails/base_title.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load cocktail_templates %}

{% block content %}

<div class="page-wrapper hide">
  <div class="modal" id="modalForm" data-url=""></div>

  <form class="form" action="{{ request.path }}">{% csrf_token %}
    <div class="row">
      <div class="page-title">
      {% if brand.name %}
        <h1>{{ brand.name }}</h1>
      {% else %}
        <h1>New Brand</h1>    
      {% endif %}  

        <div>
          <span class="btn btn-default" id="detail-edit-button" data-toggle="tooltip"
          title="Edit"><i class="fa fa-pencil fa-lg"></i></span>
          <span class="btn btn-default hide" id="detail-submit-button" data-toggle="tooltip"
          title="Submit"><i class="fa fa-check fa-lg"></i></span>
          <span class="btn btn-default hide" id="detail-cancel-button" data-toggle="tooltip" 
          title="Cancel"><i class="fa fa-times fa-lg"></i></span>
        </div>
        <hr>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-5 col-lg-4">
        <div class="row">
          <div class="" id="detail-image-panel">
            <div class="panel-heading hide" id="detail-image-header">
              <h2 class="panel-title">Image</h2>
            </div>
            <div class="panel-body" id="detail-image-container">
              <div class="hide" id="detail-image-edit">
                {% add_field_modal form.image_url %}
                <label>Preview:</label>
              </div>
              <img class="img-responsive" id="id_image" src="{{ brand.image_url }}" alt="">
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-xs-7 col-lg-4 col-middle">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Description</h2>
            </div>
            <div class="panel-body">
              {% add_field_modal form.name %}
              {% add_field_modal form.description %}
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Details</h2>
            </div>
            <div class="panel-body">
              {% add_field_modal form.year_established %}
              {% add_field_modal form.country %}
              {% add_field_modal form.us_state %}
              {% add_field_modal form.city %}
            </div>
          </div>
    
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title pull-left" id="detail-name">Products</h2>
              <div class="btn-toolbar pull-right">
                <a class="btn btn-default" href="" >
                  <span><i class="fa fa-plus"></i></span>
                </a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <ul class="ingredient-list">
              {% for ingredient in brand.ingredients.all %}
                <li>{{ ingredient.name }}</li>        
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-xs-7 col-lg-4 col-right">
         
          <!-- Manufacturer -->
         <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title pull-left" id="detail-name">Manufacturer</h2>
              <div class="btn-toolbar pull-right">
              {% if brand.manufacturer %}
                <button type="button" class="btn btn-default modal-button" id="modal-edit"
                  data-toggle="modal" data-target="#modalForm" 
                  data-url="{% url 'manufacturer-update' brand.manufacturer.id %}" >
                  <i class="fa fa-pencil"></i>
                </button>
              {% endif %}              
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              {% add_field_modal form.manufacturer "manufacturer-create" %}
            </div>
          </div>
          
          <!-- Distillery -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Distillery</h2>
            </div>
            <div class="panel-body">
              {% add_field_modal form.distillery "distillery-create" %}

              <div class="field-wrapper">
                <label class="field-label derived derived-label">Location:</label>
                <div class="field-container">
                  <p class="derived derived-field location-field">
                    {{ brand.distillery.city }}, 
                    {% if brand.distillery.us_state %}
                      {{ brand.distillery.us_state }}, 
                    {% endif %}
                    {{ brand.distillery.country }}
                  </p>
                </div>
              </div> 
            
              <div class="field-wrapper">
                <label class="field-label derived derived-label description-label">Description:</label>
                <div class="field-container">
                  <p class="derived derived-field">{{ brand.distillery.description }}</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/modal_forms.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/editable_detail.js' %}"></script> 
{% endblock scripts %}