{% extends 'cocktails/base_title.html' %}
{% load staticfiles %}

{% block content %}
<div class="modal" id="modalForm" data-url=""></div>

<div class="row">
  <div class="col-xs-5 col-md-4 border-right">
     
      <!-- Cocktails -->
     <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title pull-left">Cocktails</h2>
          <a href="{% url 'cocktail-create' %}" class="btn btn-default pull-right">
            <i class="fa fa-plus"></i>
          </a>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="search-container">
            <span class="glyphicon glyphicon-search search-button" data-model="Cocktail"></span>
            <input type="text">
          </div>
          <p class="advanced-search">Advanced search</p>
        </div>
      </div>
    </div>

    <!-- Ingredients -->
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title pull-left">Ingredients</h2>
          <a href="{% url 'ingredient-create' %}" class="btn btn-default pull-right">
            <i class="fa fa-plus"></i>
          </a>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="search-container">
            <span class="glyphicon glyphicon-search search-button" data-model="Ingredient"></span>
            <input type="text">
          </div>
          <p class="advanced-search">Advanced search</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title pull-left">Brands</h2>
          <a href="{% url 'brand-create' %}" class="btn btn-default pull-right">
            <i class="fa fa-plus"></i>
          </a>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="search-container">
            <span class="glyphicon glyphicon-search search-button" data-model="Brand"></span>
            <input type="text">
          </div>
          <p class="advanced-search">Advanced search</p>
        </div>
      </div>
    </div>

    <!-- Other -->
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Other</h2>
        </div>
        <div class="panel-body">
          <a class="" href="{% url 'ingredient-categorization-browser' %}">
              Ingredient Categorization Browser
          </a> 
          <p>Distilleries and Manufacturers</p>
        </div>
      </div>
    </div>
  </div>



  <!-- Main Column -->
  <div class="col-xs-7 col-md-8 border-right">
    <div class="row">
      
      <!-- About the site -->
      <div class="panel panel-default about-panel">
        <div class="panel-heading">
          <h2 class="panel-title">About the site</h2>
        </div>
        <div class="panel-body home-text">
          <p>Welcome to One Last Word, a website dedicated to the home mixologist! 
          </p>
          <p>This site provides a searchable database of recipes and ingredients from a number of reputable sources, so that you don't have to go digging through books and blogs for that one Zombie recipe that uses Don's Spices #1 instead of #2.  
          </p>
        </div>
      </div>

      <!-- Search Results -->
      <div class="panel panel-default search-panel">
        <div class="panel-heading">
          <h2 class="panel-title" id="search-panel-title">
            <span>Results</span>
            <small></small>
          </h2>
        </div>
        <div class="panel-body">
          <div class="results-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/cocktails_home.js' %}"></script> 
{% endblock scripts %}