{% extends "cocktails/base_title.html" %}
{% load widget_tweaks %}

{% block content %}
<form action="{% url 'ingredient-class-create' %}" method="post" class="form">
{% csrf_token %}
    <div class="form-content">
        <div class="form-header">
        {% if form.instance.pk %}
            <h1>Update Ingredient Class</h1>                
        {% else %}
            <h1>Create Ingredient Class</h1>
        {% endif %}
            <p class="form-pk nodisp">{{ form.instance.pk }}</p>
            <hr>
        </div>
        
        <div class="form-body">
        {% for field in form.visible_fields %}
            {{ field.label_tag }} {{ field|attr:"class:field-control" }}
            <ul class="field-errors" id="field-errors-{{ field.html_name }}"></ul>
        {% endfor %}
        </div>

        <div class="form-footer">
            <button type="button" class="btn btn-default form-submit">Submit</button>
            <div class="form-response"></div>
        </div>
    </div>
</form>
{% endblock content %}
