{% extends "cocktails/base_title.html" %}

{% block content %}
    <div class="row">
        <div class="ingredient-title">
            <h1>Ingredient Categorization</h1>
            <hr>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-5 col-md-3 border-right">
            <div class="row">
                <h2>Hierarchy</h2>
                <hr>
                <ul>
                {% for ingredientclass in ingredientclasses %}
                    <li class="class-item">
                        <a href="#catlist_{{ ingredientclass.name }}" data-toggle="collapse">
                        <span class="glyphicon glyphicon-chevron-right"></span></a>
                        <p class="hierarchy-item" id="IngredientClass-{{ ingredientclass.pk }}">{{ ingredientclass.name }}</p>                    

                        <ul id="catlist_{{ ingredientclass.name }}" class="collapse">
                        {% for category in ingredientclass.categories.all %}
                            <li class="category-item">
                                <a href="#sublist_{{ category.name }}" data-toggle="collapse">
                                <span class="glyphicon glyphicon-chevron-right"></span></a>
                                <p class="hierarchy-item" id="IngredientCategory-{{ category.pk }}-{{ ingredientclass.pk }}">
                                    {{ category.name }}
                                </p>
                            
                                <ul id="sublist_{{ category.name }}" class="collapse">
                                {% for subcategory in category.subcategories.all %}
                                    <li class="subcategory-item">
                                        <span class="glyphicon glyphicon-minus"></span>
                                        <p id="IngredientSubcategory-{{ subcategory.pk }}-{{ category.pk }}-{{ ingredientclass.pk }}"
                                        class="hierarchy-item">{{ subcategory.name }}</p>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        </ul>

                    </li>
                {% endfor %}
                </ul>

                <h2>Actions</h2>
                <hr>
                <a href="{% url 'ingredient-class-create' %}" class="btn btn-primary">New Class</a>
                <a href="{% url 'ingredient-category-create' %}" class="btn btn-primary">New Category</a>
                <a href="{% url 'ingredient-subcategory-create' %}" class="btn btn-primary">New Subcategory</a>
            </div>
        </div>

        <div class="col-xs-7 col-md-9 border-right">
            <div class="row">
                <div class="details nodisp">
                    <h2>Detail
                    <a class="btn btn-default inline-button" href="">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    </h2>
                    <hr>

                    <p id="detail-name">Name: </p>
                    <p id="detail-description">Description: </p>
                                        
                    <p id="detail-class">Parent Class: </p>
                    <p id="detail-category">Parent Category: </p>
                    
                    <a id="detail-wiki" href="{{ ingredientclass.wiki_url }}"><i class="fa fa-wikipedia-w"></i></a>

                    <img id="detail-image" class="img-responsive" src="" alt="" >
                </div>
            </div>
        </div>
    </div>

{% endblock content %}