{% extends 'cocktails/base_title.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="ingredient-title">
            <h1>{{ ingredient.name }}</h1>
            <a class="btn btn-default" href="{% url 'ingredient-update' pk=ingredient.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <hr>
        </div>
    </div>

    <div class="ingredient-image col-xs-6 col-md-4">
        <img src="{{ ingredient.image_url }}" alt="" class="img-responsive">
    </div>
    
    <div class="ingredient-details col-xs-6 col-md-4">      
        <div class="row">
            <div class="card">
                <h2>Classification</h2>
                <p>Class: <a href="{{ ingredient.subcategory.category.ingredient_class.get_absolute_url }}">
                    {{ ingredient.subcategory.category.ingredient_class.name }}
                </a></p>
                <p>Category: {{ ingredient.subcategory.category.name }}</p>
                <p>Subcategory: {{ ingredient.subcategory.name }}</p>
            </div>
        </div>

        <div class="row">
            <div class="card links">
                <h2>Links</h2>
                <a href="{{ ingredient.wiki_url }}"><i class="fa fa-wikipedia-w"></i></a>
                <a href="{{ ingredinet.amazon_url_us }}"><i class="fa fa-amazon"></i></a>
                <a href="{{ ingredient.amazon_url_uk }}">
                    <i class="fa fa-amazon"></i><img class="amazon-flag" src="{% static 'flags/gb.gif' %}">
                </a>
            </div>
        </div>
    </div>
        
    <div class="ingredient-details col-xs-6 col-md-4">
        <div class="row">
            <div class="card">
                <h2>Origin</h2>
                <p>Distillery: {{ ingredient.distillery.name }}</p>
                <p>Manufacturer: {{ ingredient.manufacturer.name }}</p>
            </div>
        </div>
        
        <div class="row">
            <div class="card">
                <h2>Specs</h2>
                <p>Alcohol: {{ ingredient.abv }}%</p>
            </div>
        </div>
    </div>

{% endblock %}