{% extends 'cocktails/base_title.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load cocktail_templates %}

{% block content %}

    
<div class="page-wrapper hide">
  <div class="modal" id="modalForm" data-url=""></div>


  <form class="form" action="{{ request.path }}">{% csrf_token %}
    <div class="row">
      <div class="page-title">
      {% if ingredient.name %}
        <h1>{{ ingredient.name }}</h1>
      {% else %}
        <h1>New Ingredient</h1>    
      {% endif %}  
        <div>
          <span class="btn btn-default" id="detail-edit-button"><i class="fa fa-pencil fa-lg"></i></span>
          <span class="btn btn-default hide" id="detail-submit-button"><i class="fa fa-check fa-lg"></i></span>
          <span class="btn btn-default hide" id="detail-cancel-button"><i class="fa fa-times fa-lg"></i></span>
        </div>
        <hr>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-5 col-lg-3">
        <div class="row">
          <div class="" id="detail-image-panel">
            <div class="panel-heading hide" id="detail-image-header">
              <h2 class="panel-title">Image</h2>
            </div>
            <div class="panel-body" id="detail-image-container">
              <div class="hide" id="detail-image-edit">
                {% add_field_modal form.image_url %}
                <label>Preview:</label>
              </div>
              <img class="img-responsive" id="id_image" src="{{ ingredient.image_url }}" alt="">
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-xs-7 col-lg-4 col-middle">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Details</h2>
            </div>
            <div class="panel-body">
              {% add_field_modal form.name %}
              {% add_field_modal form.description %}
    
              <a href="{{ ingredient.wiki_url }}"><i class="fa fa-wikipedia-w"></i></a>
              <a href="{{ ingredient.amazon_url_us }}"><i class="fa fa-amazon"></i></a>
              <a href="{{ ingredient.amazon_url_uk }}">
                <i class="fa fa-amazon"></i>
                <img class="amazon-flag" src="{% static 'flags/gb.gif' %}">
              </a>
            </div>
          </div>
    
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Specs</h2>
            </div>
            <div class="panel-body">
              {% add_field_modal form.abv %}
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-xs-7 col-lg-5 col-right">
         
          <!-- Categorization -->
         <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Categorization</h2>
            </div>
            <div class="panel-body">
              {% add_field_modal form.ingredient_class "ingredient-class-create" %}
              {% add_field_modal form.ingredient_category "ingredient-category-create" %}
              {% add_field_modal form.subcategory "ingredient-subcategory-create" %}
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Source</h2>
            </div>
            <div class="panel-body">
              {% add_field_external form.brand "brand-create" %}
              
              {% if ingredient.brand %}
              <label class="field_label derived">Distillery</label>
              <p class="derived">{{ ingredient.brand.distillery.name }}</p>

              <label class="field_label derived">Manufacturer</label>
              <p class="derived">{{ ingredient.brand.manufacturer.name }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/modal_forms.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/editable_detail.js' %}"></script> 
{% endblock scripts %}