{% extends 'cocktails/base_title.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load cocktail_templates %}

{% block content %}

    
<div class="page-wrapper hide">
  <div class="modal" id="modalForm" data-url=""></div>


  <form class="form" action="{{ request.path }}">{% csrf_token %}
    <div class="row">
      <div class="page-title">
      {% if ingredient.name %}
        <h1>{{ ingredient.name }}</h1>
      {% else %}
        <h1>Ingredient Detail</h1>
      {% endif %}
        <div>
          <span class="btn btn-default" id="ingredient-edit-button"><i class="fa fa-pencil fa-lg"></i></span>
          <span class="btn btn-default hide" id="ingredient-submit-button"><i class="fa fa-check fa-lg"></i></span>
          <span class="btn btn-default hide" id="ingredient-cancel-button"><i class="fa fa-times fa-lg"></i></span>
        </div>
        <hr>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-5 col-lg-4">
        <div class="row">
          <div class="" id="ingredient-image-panel">
            <div class="panel-heading hide" id="ingredient-image-header">
              <h2 class="panel-title">Image</h2>
            </div>
            <div class="panel-body" id="ingredient-image-container">
              <div class="hide" id="ingredient-image-edit">
                {% add_new_field form.image_url %}
                <label>Preview:</label>
              </div>
              <img src="{{ ingredient.image_url }}" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-xs-7 col-lg-4 col-middle">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Details</h2>
            </div>
            <div class="panel-body">
              {% add_new_field form.name %}
              {% add_new_field form.description %}
    
              <a href="{{ ingredient.wiki_url }}"><i class="fa fa-wikipedia-w"></i></a>
              <a href="{{ ingredient.amazon_url_us }}"><i class="fa fa-amazon"></i></a>
              <a href="{{ ingredient.amazon_url_uk }}">
                <i class="fa fa-amazon"></i>
                <img class="amazon-flag" src="{% static 'flags/gb.gif' %}">
              </a>
            </div>
          </div>
    
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Specs</h2>
            </div>
            <div class="panel-body">
              {% add_new_field form.abv %}
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-xs-7 col-lg-4 col-right">
         
          <!-- Categorization -->
         <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Categorization</h2>
            </div>
            <div class="panel-body">
              {% add_new_field form.ingredient_class "ingredient-subcategory-create" %}
              {% add_new_field form.ingredient_category "ingredient-category-create" %}
              {% add_new_field form.subcategory "ingredient-class-create" %}
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Source</h2>
            </div>
            <div class="panel-body">
              {% add_new_field form.distillery %}
              {% add_new_field form.manufacturer %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/ingredient-detail.js' %}"></script> 
{% endblock scripts %}