{% extends "cocktails/base_title.html" %}
{% load staticfiles %}

{% block content %}

<div class="modal" id="modalForm" data-url=""></div>

<div class="row">
  <div class="page-title">
    <h1>Ingredient Categorization</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-5 col-md-3 border-right">
    <div class="row">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Hierarchy</h2>
        </div>
        <div class="panel-body">
          <ul class="hierarchy-list class-list">
          {% for ingredientclass in ingredientclasses %}
            <li class="class-item">
              <a href="#catlist_{{ ingredientclass.name }}" data-toggle="collapse">
                <span class="glyphicon glyphicon-chevron-right hierarchy-icon"></span>
              </a>
              
              <p class="hierarchy-item" id="IngredientClass-{{ ingredientclass.pk }}">
                {{ ingredientclass.name }}
              </p>                    
              
              <ul class="collapse in hierarchy-list" id="catlist_{{ ingredientclass.name }}">
              {% for category in ingredientclass.categories.all %}
                <li class="category-item">
                  <a href="#sublist_{{ category.name }}" data-toggle="collapse">
                    <span class="glyphicon glyphicon-chevron-right hierarchy-icon"></span>
                  </a>
                  
                  <p class="hierarchy-item" id="IngredientCategory-{{ category.pk }}-{{ ingredientclass.pk }}">
                    {{ category.name }}
                  </p>
                
                  <ul class="collapse in hierarchy-list" id="sublist_{{ category.name }}">
                  {% for subcategory in category.subcategories.all %}
                    <li class="subcategory-item">
                      <span class="glyphicon glyphicon-minus hierarchy-icon"></span>
                      <p id="IngredientSubcategory-{{ subcategory.pk }}-{{ category.pk }}-{{ ingredientclass.pk }}"
                      class="hierarchy-item">{{ subcategory.name }}</p>
                    </li>
                  {% endfor %}
                  </ul>
                </li>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Actions</h2>
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-default modal-button" data-toggle="modal" 
            data-target="#modalForm" data-url="{% url 'ingredient-class-create' %}"
            id="modal-create-IngredientClass">New Class</button>
          <button type="button" class="btn btn-default modal-button" data-toggle="modal" 
            data-target="#modalForm" data-url="{% url 'ingredient-category-create' %}"
            id="modal-create-IngredientCategory">New Category</button>
          <button type="button" class="btn btn-default modal-button" data-toggle="modal" 
            data-target="#modalForm" data-url="{% url 'ingredient-subcategory-create' %}"
            id="modal-create-IngredientSubcategory">New Subcategory</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-7 col-md-9 border-right">
    <div class="row">
      <div class="panel panel-default details nodisp">
        <div class="panel-heading">
          <h2 class="panel-title pull-left" id="detail-name">
            <span></span>
            <small></small>
          </h2>
          <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-default modal-button" id="modal-edit"
              data-toggle="modal" data-target="#modalForm" data-url="" >
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-default modal-button" id="modal-create-child" 
              data-toggle="modal" data-target="#modalForm" data-url="">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <p id="detail-description"></p>                   
          <p id="detail-class"></p>
          <p id="detail-category"></p>
          
          <a id="detail-wiki" href="{{ ingredientclass.wiki_url }}"><i class="fa fa-wikipedia-w"></i></a>
          <img id="detail-image" class="img-responsive" src="" alt="" >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/modal_forms.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/categorization_browser.js' %}"></script>   
{% endblock scripts %}  