{% extends 'cocktails/base.html' %}

{% block content %}
    <div class="row">
        <div class="recipe-title">
            <h1>{{ recipe.name }}</h1><hr>
        </div>
    </div>

    <div class="recipe-image col-xs-6 col-md-4">
        <img src="{{ recipe.image_url }}" alt="" class="img-responsive">
    </div>
    
    <div class="recipe-details col-xs-6 col-md-4">      
        <div class="row">
            <div class="card">
                <h2>Classification</h2>
                <p>Class: {{ ingredient.subcategory.category.ingredient_class.name }}</p>
                <p>Category: {{ ingredient.subcategory.category.name }}</p>
                <p>Subcategory: {{ ingredient.subcategory.name }}</p>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <h2>Links</h2>
                <p>Wikipedia: </p>
                <p>Amazon US: </p>
                <p>Amazon UK: </p>
                <i class="fa fa-amazon"></i>
            </div>
        </div>
    </div>
        
    <div class="recipe-details col-xs-6 col-md-4">
        <div class="row">
            <div class="card">
                <h2>Origin</h2>
                <p>Distillery: {{ ingredient.distillery.name }}</p>
                <p>Manufacturer: {{ ingredient.manufacturer.name }}</p>
            </div>
        </div>
        
        <div class="row">
            <div class="card">
                <h2>Specs</h2>
                <p>Alcohol: {{ ingredient.abv }}%</p>
                <p>Volume: </p>
            </div>
        </div>
    </div>

{% endblock %}