<div class="field-wrapper">
    <label class="field-label" for="id_{{ html_name }}">{{ label }}:</label>
    <div class="field-container">
        {{ form_field }}
        {% if create_url %}
        <span class="modal-button editable-button" data-toggle="modal" 
            data-target="#modalForm" data-url="{{ create_url }}">
            <i class="fa fa-plus"></i>
        </span>
        {% endif %}
    </div>
    <ul class="field-errors" id="field-errors-{{ html_name }}"></ul>
</div>